<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogmang.dao.BlogTagDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blogmang.entity.BlogTag">
        <id column="tagId" property="tagId" />
        <result column="tagName" property="tagName" />
        <result column="isDeleted" property="isDeleted" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <select id="queryAllTags" resultMap="BaseResultMap">
        select * from tb_blog_tag
    </select>
    <select id="queryTagByTagId" parameterType="int" resultType="com.blogmang.entity.BlogTag">
        select * from tb_blog_tag where tagId=#{tagId}
    </select>
    <select id="queryTagByTagName" parameterType="String" resultType="com.blogmang.entity.BlogTag">
        select tagId from tb_blog_tag where tagName=#{tagName}
    </select>
    <select id="queryAllTagsVO" resultMap="BaseResultMap">
        select * from tb_blog_tag where tagId != 1
    </select>
    <insert id="saveTags" parameterType="BlogTag">
        insert into tb_blog_tag values (null,#{tagName},0 ,#{createTime})
    </insert>
    <update id="updateTagIsDel" parameterType="BlogTag">
        update tb_blog_tag set isDeleted = #{isDeleted} where tagId=#{tagId}
    </update>
    <delete id="tagDel" parameterType="int">
        delete from tb_blog_tag where tagId=#{tagId}
    </delete>
</mapper>
